/*Variables*/

:root {
  --main-text-color: #FFFFFF;
}

/*Header*/

.header-wrapper {
  position: relative;
  background: url(./images/home_background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 7.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1, .main-info h2 {
  color: var(--main-text-color);
  text-transform: uppercase;
}

.btn-main-offer {
  border: 1px solid#FC9E2D;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #fff;
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #FC9E2D;
  color: #fff;
}